/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$callback-icon-name: 'callback-icon';
$callback-icon-x: 165px;
$callback-icon-y: 0px;
$callback-icon-offset-x: -165px;
$callback-icon-offset-y: 0px;
$callback-icon-width: 115px;
$callback-icon-height: 115px;
$callback-icon-total-width: 319px;
$callback-icon-total-height: 279px;
$callback-icon-image: 'img/sprite.png';
$callback-icon: (165px, 0px, -165px, 0px, 115px, 115px, 319px, 279px, 'img/sprite.png', 'callback-icon', );
$chevron-orange-icon-name: 'chevron-orange-icon';
$chevron-orange-icon-x: 285px;
$chevron-orange-icon-y: 37px;
$chevron-orange-icon-offset-x: -285px;
$chevron-orange-icon-offset-y: -37px;
$chevron-orange-icon-width: 13px;
$chevron-orange-icon-height: 32px;
$chevron-orange-icon-total-width: 319px;
$chevron-orange-icon-total-height: 279px;
$chevron-orange-icon-image: 'img/sprite.png';
$chevron-orange-icon: (285px, 37px, -285px, -37px, 13px, 32px, 319px, 279px, 'img/sprite.png', 'chevron-orange-icon', );
$d-grey-icon-name: 'd-grey-icon';
$d-grey-icon-x: 303px;
$d-grey-icon-y: 37px;
$d-grey-icon-offset-x: -303px;
$d-grey-icon-offset-y: -37px;
$d-grey-icon-width: 16px;
$d-grey-icon-height: 15px;
$d-grey-icon-total-width: 319px;
$d-grey-icon-total-height: 279px;
$d-grey-icon-image: 'img/sprite.png';
$d-grey-icon: (303px, 37px, -303px, -37px, 16px, 15px, 319px, 279px, 'img/sprite.png', 'd-grey-icon', );
$date-icon-name: 'date-icon';
$date-icon-x: 285px;
$date-icon-y: 203px;
$date-icon-offset-x: -285px;
$date-icon-offset-y: -203px;
$date-icon-width: 14px;
$date-icon-height: 15px;
$date-icon-total-width: 319px;
$date-icon-total-height: 279px;
$date-icon-image: 'img/sprite.png';
$date-icon: (285px, 203px, -285px, -203px, 14px, 15px, 319px, 279px, 'img/sprite.png', 'date-icon', );
$dvu-icon-name: 'dvu-icon';
$dvu-icon-x: 0px;
$dvu-icon-y: 230px;
$dvu-icon-offset-x: 0px;
$dvu-icon-offset-y: -230px;
$dvu-icon-width: 118px;
$dvu-icon-height: 49px;
$dvu-icon-total-width: 319px;
$dvu-icon-total-height: 279px;
$dvu-icon-image: 'img/sprite.png';
$dvu-icon: (0px, 230px, 0px, -230px, 118px, 49px, 319px, 279px, 'img/sprite.png', 'dvu-icon', );
$e-grey-icon-name: 'e-grey-icon';
$e-grey-icon-x: 285px;
$e-grey-icon-y: 186px;
$e-grey-icon-offset-x: -285px;
$e-grey-icon-offset-y: -186px;
$e-grey-icon-width: 20px;
$e-grey-icon-height: 12px;
$e-grey-icon-total-width: 319px;
$e-grey-icon-total-height: 279px;
$e-grey-icon-image: 'img/sprite.png';
$e-grey-icon: (285px, 186px, -285px, -186px, 20px, 12px, 319px, 279px, 'img/sprite.png', 'e-grey-icon', );
$fb-grey-icon-name: 'fb-grey-icon';
$fb-grey-icon-x: 309px;
$fb-grey-icon-y: 120px;
$fb-grey-icon-offset-x: -309px;
$fb-grey-icon-offset-y: -120px;
$fb-grey-icon-width: 10px;
$fb-grey-icon-height: 17px;
$fb-grey-icon-total-width: 319px;
$fb-grey-icon-total-height: 279px;
$fb-grey-icon-image: 'img/sprite.png';
$fb-grey-icon: (309px, 120px, -309px, -120px, 10px, 17px, 319px, 279px, 'img/sprite.png', 'fb-grey-icon', );
$fb-icon-name: 'fb-icon';
$fb-icon-x: 307px;
$fb-icon-y: 142px;
$fb-icon-offset-x: -307px;
$fb-icon-offset-y: -142px;
$fb-icon-width: 10px;
$fb-icon-height: 17px;
$fb-icon-total-width: 319px;
$fb-icon-total-height: 279px;
$fb-icon-image: 'img/sprite.png';
$fb-icon: (307px, 142px, -307px, -142px, 10px, 17px, 319px, 279px, 'img/sprite.png', 'fb-icon', );
$in-grey-icon-name: 'in-grey-icon';
$in-grey-icon-x: 285px;
$in-grey-icon-y: 223px;
$in-grey-icon-offset-x: -285px;
$in-grey-icon-offset-y: -223px;
$in-grey-icon-width: 14px;
$in-grey-icon-height: 15px;
$in-grey-icon-total-width: 319px;
$in-grey-icon-total-height: 279px;
$in-grey-icon-image: 'img/sprite.png';
$in-grey-icon: (285px, 223px, -285px, -223px, 14px, 15px, 319px, 279px, 'img/sprite.png', 'in-grey-icon', );
$in-icon-name: 'in-icon';
$in-icon-x: 304px;
$in-icon-y: 203px;
$in-icon-offset-x: -304px;
$in-icon-offset-y: -203px;
$in-icon-width: 14px;
$in-icon-height: 15px;
$in-icon-total-width: 319px;
$in-icon-total-height: 279px;
$in-icon-image: 'img/sprite.png';
$in-icon: (304px, 203px, -304px, -203px, 14px, 15px, 319px, 279px, 'img/sprite.png', 'in-icon', );
$list-icon-name: 'list-icon';
$list-icon-x: 0px;
$list-icon-y: 0px;
$list-icon-offset-x: 0px;
$list-icon-offset-y: 0px;
$list-icon-width: 160px;
$list-icon-height: 225px;
$list-icon-total-width: 319px;
$list-icon-total-height: 279px;
$list-icon-image: 'img/sprite.png';
$list-icon: (0px, 0px, 0px, 0px, 160px, 225px, 319px, 279px, 'img/sprite.png', 'list-icon', );
$mobile-icon-name: 'mobile-icon';
$mobile-icon-x: 285px;
$mobile-icon-y: 0px;
$mobile-icon-offset-x: -285px;
$mobile-icon-offset-y: 0px;
$mobile-icon-width: 34px;
$mobile-icon-height: 32px;
$mobile-icon-total-width: 319px;
$mobile-icon-total-height: 279px;
$mobile-icon-image: 'img/sprite.png';
$mobile-icon: (285px, 0px, -285px, 0px, 34px, 32px, 319px, 279px, 'img/sprite.png', 'mobile-icon', );
$odn-icon-name: 'odn-icon';
$odn-icon-x: 165px;
$odn-icon-y: 120px;
$odn-icon-offset-x: -165px;
$odn-icon-offset-y: -120px;
$odn-icon-width: 109px;
$odn-icon-height: 51px;
$odn-icon-total-width: 319px;
$odn-icon-total-height: 279px;
$odn-icon-image: 'img/sprite.png';
$odn-icon: (165px, 120px, -165px, -120px, 109px, 51px, 319px, 279px, 'img/sprite.png', 'odn-icon', );
$pl-icon-name: 'pl-icon';
$pl-icon-x: 123px;
$pl-icon-y: 230px;
$pl-icon-offset-x: -123px;
$pl-icon-offset-y: -230px;
$pl-icon-width: 95px;
$pl-icon-height: 22px;
$pl-icon-total-width: 319px;
$pl-icon-total-height: 279px;
$pl-icon-image: 'img/sprite.png';
$pl-icon: (123px, 230px, -123px, -230px, 95px, 22px, 319px, 279px, 'img/sprite.png', 'pl-icon', );
$quotes-icon-name: 'quotes-icon';
$quotes-icon-x: 218px;
$quotes-icon-y: 176px;
$quotes-icon-offset-x: -218px;
$quotes-icon-offset-y: -176px;
$quotes-icon-width: 48px;
$quotes-icon-height: 38px;
$quotes-icon-total-width: 319px;
$quotes-icon-total-height: 279px;
$quotes-icon-image: 'img/sprite.png';
$quotes-icon: (218px, 176px, -218px, -176px, 48px, 38px, 319px, 279px, 'img/sprite.png', 'quotes-icon', );
$r-grey-icon-name: 'r-grey-icon';
$r-grey-icon-x: 285px;
$r-grey-icon-y: 142px;
$r-grey-icon-offset-x: -285px;
$r-grey-icon-offset-y: -142px;
$r-grey-icon-width: 17px;
$r-grey-icon-height: 17px;
$r-grey-icon-total-width: 319px;
$r-grey-icon-total-height: 279px;
$r-grey-icon-image: 'img/sprite.png';
$r-grey-icon: (285px, 142px, -285px, -142px, 17px, 17px, 319px, 279px, 'img/sprite.png', 'r-grey-icon', );
$r-icon-name: 'r-icon';
$r-icon-x: 285px;
$r-icon-y: 164px;
$r-icon-offset-x: -285px;
$r-icon-offset-y: -164px;
$r-icon-width: 17px;
$r-icon-height: 17px;
$r-icon-total-width: 319px;
$r-icon-total-height: 279px;
$r-icon-image: 'img/sprite.png';
$r-icon: (285px, 164px, -285px, -164px, 17px, 17px, 319px, 279px, 'img/sprite.png', 'r-icon', );
$right-arrow-orange-icon-name: 'right-arrow-orange-icon';
$right-arrow-orange-icon-x: 285px;
$right-arrow-orange-icon-y: 97px;
$right-arrow-orange-icon-offset-x: -285px;
$right-arrow-orange-icon-offset-y: -97px;
$right-arrow-orange-icon-width: 23px;
$right-arrow-orange-icon-height: 18px;
$right-arrow-orange-icon-total-width: 319px;
$right-arrow-orange-icon-total-height: 279px;
$right-arrow-orange-icon-image: 'img/sprite.png';
$right-arrow-orange-icon: (285px, 97px, -285px, -97px, 23px, 18px, 319px, 279px, 'img/sprite.png', 'right-arrow-orange-icon', );
$right-arrow-white-icon-name: 'right-arrow-white-icon';
$right-arrow-white-icon-x: 285px;
$right-arrow-white-icon-y: 74px;
$right-arrow-white-icon-offset-x: -285px;
$right-arrow-white-icon-offset-y: -74px;
$right-arrow-white-icon-width: 23px;
$right-arrow-white-icon-height: 18px;
$right-arrow-white-icon-total-width: 319px;
$right-arrow-white-icon-total-height: 279px;
$right-arrow-white-icon-image: 'img/sprite.png';
$right-arrow-white-icon: (285px, 74px, -285px, -74px, 23px, 18px, 319px, 279px, 'img/sprite.png', 'right-arrow-white-icon', );
$tw-grey-icon-name: 'tw-grey-icon';
$tw-grey-icon-x: 285px;
$tw-grey-icon-y: 243px;
$tw-grey-icon-offset-x: -285px;
$tw-grey-icon-offset-y: -243px;
$tw-grey-icon-width: 16px;
$tw-grey-icon-height: 13px;
$tw-grey-icon-total-width: 319px;
$tw-grey-icon-total-height: 279px;
$tw-grey-icon-image: 'img/sprite.png';
$tw-grey-icon: (285px, 243px, -285px, -243px, 16px, 13px, 319px, 279px, 'img/sprite.png', 'tw-grey-icon', );
$tw-icon-name: 'tw-icon';
$tw-icon-x: 285px;
$tw-icon-y: 261px;
$tw-icon-offset-x: -285px;
$tw-icon-offset-y: -261px;
$tw-icon-width: 16px;
$tw-icon-height: 13px;
$tw-icon-total-width: 319px;
$tw-icon-total-height: 279px;
$tw-icon-image: 'img/sprite.png';
$tw-icon: (285px, 261px, -285px, -261px, 16px, 13px, 319px, 279px, 'img/sprite.png', 'tw-icon', );
$up-icon-name: 'up-icon';
$up-icon-x: 165px;
$up-icon-y: 176px;
$up-icon-offset-x: -165px;
$up-icon-offset-y: -176px;
$up-icon-width: 48px;
$up-icon-height: 48px;
$up-icon-total-width: 319px;
$up-icon-total-height: 279px;
$up-icon-image: 'img/sprite.png';
$up-icon: (165px, 176px, -165px, -176px, 48px, 48px, 319px, 279px, 'img/sprite.png', 'up-icon', );
$v-icon-name: 'v-icon';
$v-icon-x: 285px;
$v-icon-y: 120px;
$v-icon-offset-x: -285px;
$v-icon-offset-y: -120px;
$v-icon-width: 19px;
$v-icon-height: 17px;
$v-icon-total-width: 319px;
$v-icon-total-height: 279px;
$v-icon-image: 'img/sprite.png';
$v-icon: (285px, 120px, -285px, -120px, 19px, 17px, 319px, 279px, 'img/sprite.png', 'v-icon', );
$spritesheet-width: 319px;
$spritesheet-height: 279px;
$spritesheet-image: 'img/sprite.png';
$spritesheet-sprites: ($callback-icon, $chevron-orange-icon, $d-grey-icon, $date-icon, $dvu-icon, $e-grey-icon, $fb-grey-icon, $fb-icon, $in-grey-icon, $in-icon, $list-icon, $mobile-icon, $odn-icon, $pl-icon, $quotes-icon, $r-grey-icon, $r-icon, $right-arrow-orange-icon, $right-arrow-white-icon, $tw-grey-icon, $tw-icon, $up-icon, $v-icon, );
$spritesheet: (319px, 279px, 'img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
